<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COBOAM_Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="COBOAM_Admin.Properties.Settings.coboamCS" connectionString="server=hq.channelofblessings.com;user id=cobuser;persistsecurityinfo=True;database=coboam;allowbatch=True;allowzerodatetime=True;allowuservariables=True;useusageadvisor=True;password=93e684465aca87f88adf27995d0f8008"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@channelofblessings.com">
        <network host="smtp.1and1.com"
          defaultCredentials="true" port="587" enableSsl="false"
            userName="webmaster@channelofblessings.com" password="asshole23"/>
      </smtp>
    </mailSettings>
  </system.net>
    <userSettings>
        <COBOAM_Admin.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </COBOAM_Admin.Properties.Settings>
    </userSettings>
</configuration>